{% for supplier_uuid in supplier_parts %}
{% set supplier = supplier_parts[supplier_uuid]["supplier"] %}
{% set parts = supplier_parts[supplier_uuid]["parts"] %}

<div class="expand-collapse">

    <div class="expand-collapse-title">
        <div class="expand-collapse-icon">
            <span class="glyphicon glyphicon-plus"></span>
        </div>


        <div class="expand-collapse-text noselect">
            {{supplier["name"]}}
        </div>
    </div>

    <div class="expand-collapse-content">
    {% for part in parts %}

        <table><tbody><tr><td>
            <div class="mini-part-icon">

                {% if part["categories"]|length == 0%}

                    <div class="part-icon part-icon-unknown"></div>

                {% elif part["categories"]|length == 1 %}

                    {% if part["categories"][0]["name"] == "operating-systems" %}

                        <div class="part-icon part-icon-os"></div>

                    {% elif part["categories"][0]["name"] == "drivers" %}

                        <div class="part-icon part-icon-driver"></div>

                    {% elif part["categories"][0]["name"] == "containers" %}

                        <div class="part-icon part-icon-container"></div>

                    {% elif part["categories"][0]["name"] == "libraries" %}

                        <div class="part-icon part-icon-library"></div>

                    {% else %}

                        <div class="part-icon part-icon-other"></div>

                    {% endif %}

                {% else %}

                    <div class="part-icon part-icon-multiple"></div>

                {% endif %}

            </div>

        </td><td>

            <a class="part-name-link" href="javascript:void(0)" ><div class="blockchain-part-name">
            {{part["name"]}} {{part["version"]}}</div></a>

            <div class="blockchain-part-details-popup">
                <div><strong>{{part["name"]}} {{part["version"]}}</strong></div>
                <div><strong>Categories</strong>:
                {% for category in part["categories"]%}{{category["description"]}}
                {%- if not loop.last -%}<span>, </span>{%- endif -%}{% endfor %}</div>
                <div><strong>Label</strong>: {{part["label"]}}</div>
                <div><strong>Licensing</strong>: {{part["licensing"]}}</div>
                <div><strong>UUID</strong>: {{part["uuid"]}}</div>
                <div><strong>Description</strong>: {{part["description"]}}</div>
                <div><strong>URL</strong>: {{part["url"]}}</div>
                <div><strong>Source URI</strong>: {{part["src_uri"]}}</div>
                <div><strong>Checksum</strong>: {{part["checksum"]}}</div>
            </div>
        </td><td>

        {% for envelope in part["envelopes"] %}
            <a
            href="javascript:void(0)" class="bc-envelope-link">
            <div class="blockchain-envelope-icon"></div></a>

            <div class="bc-envelope-details-popup">
                <div><strong>Label</strong>: {{envelope["label"]}}</div>
                <div><strong>UUID</strong>: {{envelope["uuid"]}}</div>
                <div><strong>Checksum</strong>: {{envelope["checksum"]}}</div>
                <div><strong>OpenChain Conformant</strong>: {{envelope["openchain"]}}</div>
                <div><strong>Filename</strong>: {{envelope["filename"]}}</div>
            </div>

            <!-- </td><td> -->

            <!-- <div class="blockchain-envelope"></a></div> -->


        {% endfor %}

        </td></tr></tbody></table>


    {% endfor %}
    </div>

</div>

<input type="hidden" id="suppliers-count-value" value="{{suppliers_count}}">
<input type="hidden" id="parts-count-value" value="{{parts_count}}">
<input type="hidden" id="envelopes-count-value" value="{{envelopes_count}}">

{% endfor %}
