<div class="blockchain-dashport">

    <div class="blockchain-dash-title">Supply Chain Network Status</div>

    <div class="blockchain-dash-left">
        <div class="blockchain-dash-info">
            <strong>Ledger Uptime:</strong> {{uptime}}
        </div>

        <div class="blockchain-dash-info">
            <strong>Ledger API Address:</strong>
            <span class="ledger-api-address">{{ledger_api_address}}</span>
        </div>


        <div class="blockchain-dash-info">
            <strong>Hyperledger Platform:</strong> Sawtooth 0.8.7
        </div>
    </div>

    <div class="blockchain-dash-right">
        <div class="blockchain-dash-info">
            <strong>Nodes:</strong> {{nodes|length}} nodes registered on the network
        </div>


        <div class="blockchain-dash-info">
            <strong>Components:</strong> <span id="envelope-count">{{envelope_count}}</span>
            envelopes, <span id="part-count">{{part_count}}</span> parts, and
            <span id="supplier-count">{{supplier_count}}</span> suppliers
        </div>
    </div>

</div>

<h3>Blockchain Nodes</h3>
<hr>


<div class="blockchain-view-section blockchain-view-section-nodes">
{% for node in nodes %}

    <div class="blockchain-node">

        <div class="blockchain-node-image">
        </div>

        <div class="blockchain-node-name">
            <span>{{node["label"]}}</span>
        </div>

        <div class="blockchain-node-status" uuid="{{node['uuid']}}">
        <div class="node-status-text">Status: </div>
        <div class="blockchain-nodes-preload"></div>
        <span class="node-status-value">Retrieving...</span>
        </div>

        <div class="blockchain-node-popup-content">
            <div><strong>Node {{node["short_id"]}} ({{node["label"]}})</strong></div>
            <div><strong>Ledger service URL</strong>: {{node["api_url"]}}</div>
            <div><strong>UUID</strong>: {{node["uuid"]}}</div>
            <div><strong>Description</strong>: {{node["description"]}}</div>
        </div>

    </div>

{% endfor %}
</div>

<h3>Applications</h3>
<hr>

<div class="blockchain-view-section blockchain-view-section-applications">
    {% for app in apps %}

        <div class="blockchain-app">
            <div class="blockchain-app-icon"></div>

            <div class="blockchain-app-name">
            {{app}}
            </div>
        </div>

    {% endfor %}
</div>



<h3>Suppliers &amp; Parts</h3>
<div class="blockchain-queried-ledger">Queried from the ledger</div>
<hr>

<div id="blockchain-components">
<div class="blockchain-components-preload"></div>
</div>
