
<h4>Attributions</h4>


<div>
    Library and box icons: Icon made by <a href=
    "http://www.flaticon.com/authors/pixel-buddha">pixel-buddha</a> from www.flaticon.com
</div>


<div>
    Plug icon: Icon made by <a href="http://www.flaticon.com/authors/freepik">Freepik</a> from
    www.flaticon.com
</div>


<div>
    File icon: Icon made by <a href="http://www.flaticon.com/authors/madebyoliver">Madebyoliver</a>
    from www.flaticon.com
</div>


<div>
    Package icon: Icon made by <a href=
    "http://www.flaticon.com/authors/dinosoftlabs">DinosoftLabs</a> from www.flaticon.com
</div>


<div>
    Handshake icon: Icon made by <a href="http://www.flaticon.com/authors/gregor-cresnar">Gregor
    Cresnar</a> from www.flaticon.com
</div>


<div>
    Gears icon: Icon made by <a href="http://www.flaticon.com/authors/vectors-market">Vectors
    Market</a> from www.flaticon.com
</div>


<div>
    Envelope icon: Icon made by <a href="http://www.flaticon.com/packs/dialogue-assets-4">Dialogue
    assets</a> from www.flaticon.com
</div>


<div>
    Closed envelope icon: Icon made by <a href=
    "http://www.flaticon.com/authors/dinosoftlabs">DinosoftLabs</a> from www.flaticon.com
</div>


<div>
    Notice icon: Icon made by <a href="http://www.flaticon.com/authors/freepik">Freepik</a> from
    www.flaticon.com
</div>


<div>
    Folder and server icons: Icon made by <a href=
    "http://www.flaticon.com/authors/madebyoliver">Madebyoliver</a> from www.flaticon.com
</div>


<div>
    Node icon: Icon made by <a href="http://www.flaticon.com/packs/digital-marketing-10">Digital
    Marketing</a> from www.flaticon.com
</div>

<div>
    Question Mark icon: Icon made by
    <a href="http://www.flaticon.com/packs/market-and-economy">Market and economy
    </a> from www.flaticon.com
</div>
