<link href="/static/css/bootstrap.min.css" rel="stylesheet" />
<link href="/static/css/selectize.bootstrap3.css" rel="stylesheet" />
<link href="/static/css/bootstrap-editable.css" rel="stylesheet" />
<link href="/static/css/material-switch.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">
<link href="/static/css/main.css" rel="stylesheet" />
{% if production_server %}
<link href="/static/css/proprietary-images.css" rel="stylesheet" />
{% endif %}
<script src="/static/js/jquery-3.1.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/selectize.min.js"></script>
<script src="/static/js/md5.js"></script>
<script src="/static/js/bootstrap-editable.min.js"></script>
<script src="/static/js/main.js"></script>
{% if page == "crypto_viewer" %}
<link href="/static/css/highlight.min.css" rel="stylesheet" />
<script src="/static/js/highlight.min.js"></script>
{% endif %}
